* {
    margin: 0px;
    padding: 0px;
}

.work-sans- {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* shared items */
.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    color: #005FAC;
    background-color: white;
    border: none;
}


/* header section */
header {
    background: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


}

.header-info {
    max-width: 525px;
    padding: 216px 200px 166px 845px;
    text-align: right;
    height: 100%;
}

.header-title {
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 24px;
}

.header-description {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* failure section */
.my-failures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1072px;
    margin: 131px auto;
    gap: 100px;
    border: 1px solid blue;
}

.failure-title {
    color: var(--Dark 01, rgba(21, 20, 20, 1));
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.failure-text {
    color: var(--Dark 02, rgba(68, 67, 67, 1));
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.list-items {
    list-style: none;
    margin-top: 16px;
}

.list-items li::before {
    content: "✔";
    color: #28a745
}
.failure-img img{
    max-width: 451px;
}
/* my plans section */
.my-plans{
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: 134px;
}
.plans-title {
    color: var(--Dark 01, rgba(21, 20, 20, 1));
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.card-container{
    display: flex;
    gap: 80px;
}
.card-img img{
    max-width: 90px;
}
.card-img{
    display: flex;
    justify-content: center;
}
.card-title{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
}
.card-text{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    text-align: center;
}